* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper_90 {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.wrapper_80 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.btn {
  padding: 13px 29px;
  text-decoration: none;
  color: black;
}

header #header_top {
  width: 100%;
  height: 130px;
  line-height: 130px;
  display: flex;
  background-color: white;
}
header #header_top .home_img {
  width: 50%;
  height: 100%;
}
header #header_top .home_img img {
  width: 220px;
  vertical-align: middle;
}
header #jumbotron {
  width: 100%;
  height: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/home-slider.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
header #jumbotron .jumbotron_core {
  width: 1000px;
  height: 350px;
  text-align: center;
  line-height: 90px;
}
header #jumbotron .jumbotron_core h1 {
  color: white;
  font-size: 65px;
  text-transform: uppercase;
}
header #jumbotron .jumbotron_core h2 {
  color: #fbcf3b;
}
header #jumbotron .jumbotron_core ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
header #jumbotron .jumbotron_core ul li .yellow_btn {
  background-color: #fbcf3b;
  text-transform: uppercase;
  text-transform: uppercase;
}
header #jumbotron .jumbotron_core ul li .yellow_btn:hover {
  background-color: black;
  color: white;
}
header #jumbotron .jumbotron_core ul li .black_btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-transform: uppercase;
}
header #jumbotron .jumbotron_core ul li .black_btn:hover {
  background-color: #fbcf3b;
  color: black;
}
header #header_bot {
  width: 100%;
  height: 160px;
  background-color: #fbcf3b;
  text-align: center;
  line-height: 160px;
}
header #header_bot h2 {
  font-size: 35px;
}
header #header_bot a {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 13px 60px;
  position: relative;
  bottom: 50%;
}
header #header_bot a:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

#navbar {
  width: 50%;
  height: 100%;
}
#navbar ul {
  text-align: right;
}
#navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  padding-left: 30px;
}
#navbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
#navbar ul li a:hover {
  color: #fbcf3b;
}

#navbar > ul > li > .yellow_btn {
  background-color: #fbcf3b;
  text-transform: uppercase;
}
#navbar > ul > li > .yellow_btn:hover {
  background-color: black;
  color: white;
}

.section {
  width: 100%;
}

#section_1 {
  height: 780px;
  width: 100%;
}
#section_1 .top_section_1 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section_1 .top_section_1 hr {
  margin: 30px 0;
  border: 1px solid #fbcf3b;
  width: 250px;
}
#section_1 .top_section_1 p {
  text-align: center;
  line-height: 30px;
}
#section_1 .top_section_1 h2 {
  padding: 10px 0;
}
#section_1 .top_section_1 hr {
  margin: 10px 0;
  border: 2px solid #fbcf3b;
  width: 250px;
}
#section_1 .top_section_1 p {
  padding: 10px 0;
  text-align: center;
}
#section_1 .bot_section_1 {
  width: 100%;
  height: 50%;
}
#section_1 .bot_section_1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#section_1 .bot_section_1 .flip-card {
  width: 310px;
  height: 290px;
  display: flex;
  position: relative;
  perspective: 1000px;
}
#section_1 .bot_section_1 .flip-card span {
  border: 1px solid grey;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_1 .bot_section_1 .flip-card span i {
  font-size: 40px;
  padding: 15px;
  color: grey;
}
#section_1 .bot_section_1 .flip-card h2 {
  margin: 15px 0;
}
#section_1 .bot_section_1 .flip-card p {
  line-height: 30px;
  padding-bottom: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}

.flip-card-front {
  background-color: #bcbcbd;
  color: black;
}

.flip-card-back {
  background-color: #fbcf3b;
  color: black;
  transform: rotateY(180deg);
}
.flip-card-back .yellow_btn {
  background-color: #FFE07A;
}
.flip-card-back .yellow_btn:hover {
  background-color: black;
  color: white;
}
.flip-card-back h2 {
  text-transform: uppercase;
}

#section_2 {
  height: 585px;
  background-image: url("../img/home-244125289.webp");
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_2 .container_center {
  width: 80%;
  height: 210px;
  display: flex;
}
#section_2 .container_center .container_litte {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section_2 .container_center .container_litte i {
  color: #fbcf3b;
  font-size: 70px;
}
#section_2 .container_center .container_litte h2 {
  color: #fbcf3b;
  font-size: 45px;
}
#section_2 .container_center .container_litte p {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

#section_3 {
  height: 890px;
}
#section_3 .top_section_3 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section_3 .top_section_3 hr {
  margin: 30px 0;
  border: 1px solid #fbcf3b;
  width: 250px;
}
#section_3 .top_section_3 p {
  text-align: center;
  line-height: 30px;
}
#section_3 .bot_section_3 {
  width: 100%;
  height: calc(85% - 300px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#section_3 .bot_section_3 .container {
  width: 1160px;
  height: 369px;
  display: flex;
  justify-content: space-around;
}
#section_3 .bot_section_3 .card {
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
#section_3 .bot_section_3 .card_1 {
  background-image: url("../img/project2-featured-15013609.webp");
}
#section_3 .bot_section_3 .card_1:hover .card_back_1 {
  opacity: 1;
}
#section_3 .bot_section_3 .card_2 {
  background-image: url("../img/project1-featured-294276386.webp");
}
#section_3 .bot_section_3 .card_2:hover .card_back_2 {
  opacity: 1;
}
#section_3 .bot_section_3 .card_3 {
  background-image: url("../img/project3-featured-189023420.webp");
}
#section_3 .bot_section_3 .card_3:hover .card_back_3 {
  opacity: 1;
}
#section_3 .bot_section_3 .card_back {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: #fdcf3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.2s ease;
}
#section_3 .bot_section_3 .card_back .back_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#section_3 .bot_section_3 .card_back .back_container h4 {
  color: white;
  margin: 10px 0px;
}
#section_3 .bot_section_3 .card_back .back_container h5 {
  color: white;
}
#section_3 .bot_section_3 .card_back .icons i {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  color: #fbcf3b;
}
#section_3 h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 50px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#section_3 h3:hover {
  background-color: #fbcf3b;
}

#section_4 {
  height: 735px;
  background-color: #F5F5F5;
}
#section_4 .top_section_4 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section_4 .top_section_4 hr {
  margin: 30px 0;
  border: 1px solid #fbcf3b;
  width: 250px;
}
#section_4 .top_section_4 p {
  text-align: center;
  line-height: 30px;
}
#section_4 .bot_section_4 {
  width: 100%;
  height: calc(100% - 300px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#section_4 .bot_section_4 .container_center {
  width: 1170px;
  height: 400px;
  display: flex;
}
#section_4 .bot_section_4 .container_center .container_litte {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}
#section_4 .bot_section_4 .container_center .container_litte i {
  font-size: 55px;
  padding: 30px;
  border-radius: 50%;
  color: white;
}
#section_4 .bot_section_4 .container_center .container_litte #green {
  background-color: #4ea4a5;
}
#section_4 .bot_section_4 .container_center .container_litte #green:hover {
  background-color: #fbcf3b;
}
#section_4 .bot_section_4 .container_center .container_litte #blue {
  background-color: #4e6da5;
}
#section_4 .bot_section_4 .container_center .container_litte #blue:hover {
  background-color: #fbcf3b;
}
#section_4 .bot_section_4 .container_center .container_litte #orange {
  background-color: #f6722a;
}
#section_4 .bot_section_4 .container_center .container_litte #orange:hover {
  background-color: #fbcf3b;
}
#section_4 .bot_section_4 .container_center .container_litte #lightgreen {
  background-color: #a7cf47;
}
#section_4 .bot_section_4 .container_center .container_litte #lightgreen:hover {
  background-color: #fbcf3b;
}
#section_4 .bot_section_4 .container_center .container_litte h4 {
  margin: 10px 0px;
}
#section_4 .bot_section_4 .container_center .container_litte hr {
  margin: 10px 0px;
  width: 100px;
}
#section_4 .bot_section_4 .container_center .container_litte p {
  line-height: 25px;
}

#section_5 {
  height: 780px;
  background-image: url("../img/home-parallax-144609983.webp");
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_5 .carousel_container {
  width: 850px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 30px;
}
#section_5 .carousel_container h2 {
  margin: 25px 0;
  font-size: 30px;
  color: white;
}
#section_5 .carousel_container img {
  border-radius: 50%;
  margin: 20px 0;
}
#section_5 .carousel_container hr {
  margin: 20px 0;
  border: 1px solid #fbcf3b;
  width: 250px;
}
#section_5 .carousel_container p {
  text-align: center;
  line-height: 30px;
  color: white;
}
#section_5 .carousel_container .carousel_circle {
  display: flex;
  margin-top: 5px;
}
#section_5 .carousel_container .carousel_circle i {
  padding: 0 10px;
  color: white;
}

#section_6 {
  height: 1120px;
  background-color: #F5F5F5;
}
#section_6 .top_section_6 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section_6 .top_section_6 hr {
  margin: 30px 0;
  border: 1px solid #fbcf3b;
  width: 250px;
}
#section_6 .top_section_6 p {
  text-align: center;
  line-height: 30px;
}
#section_6 .bot_section_6 {
  width: 100%;
  height: calc(85% - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section_6 .bot_section_6 .container {
  width: 1160px;
  height: 220px;
  display: flex;
  justify-content: space-around;
}
#section_6 .bot_section_6 .card {
  width: 370px;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
#section_6 .bot_section_6 .card_bottom {
  width: 370px;
  height: 400px;
  padding: 20px;
  background-color: white;
}
#section_6 .bot_section_6 .card_bottom .title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#section_6 .bot_section_6 .card_bottom hr {
  margin: 15px 0;
}
#section_6 .bot_section_6 .card_bottom p {
  line-height: 30px;
}
#section_6 .bot_section_6 .card_1 {
  background-image: url("../img/blog-post-134132600.webp");
}
#section_6 .bot_section_6 .card_1:hover .card_back_1 {
  opacity: 1;
}
#section_6 .bot_section_6 .card_2 {
  background-image: url("../img/blog-post-92486644.webp");
}
#section_6 .bot_section_6 .card_2:hover .card_back_2 {
  opacity: 1;
}
#section_6 .bot_section_6 .card_3 {
  background-image: url("../img/blog-post-332773904.webp");
}
#section_6 .bot_section_6 .card_3:hover .card_back_3 {
  opacity: 1;
}
#section_6 .bot_section_6 .card_back {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fdcf3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.2s ease;
}
#section_6 .bot_section_6 .card_back .back_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#section_6 .bot_section_6 .card_back .back_container h4 {
  color: white;
  margin: 10px 0px;
  text-align: center;
}
#section_6 .bot_section_6 .card_back .back_container h5 {
  color: white;
}
#section_6 .bot_section_6 .card_back .icons i {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  color: #fbcf3b;
}
#section_6 h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 50px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#section_6 h3:hover {
  background-color: #fbcf3b;
}

#section_7 {
  height: 550px;
}
#section_7 .top_section_7 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
}
#section_7 .top_section_7 hr {
  margin: 30px 0;
  border: 1px solid #fbcf3b;
  width: 250px;
}
#section_7 .top_section_7 p {
  text-align: center;
  line-height: 30px;
}
#section_7 .bot_section_7 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#section_7 .bot_section_7 .partners {
  width: 60%;
  height: 50%;
  display: flex;
}
#section_7 .bot_section_7 .partners .partner_logo {
  width: 20%;
  height: 100%;
}
#section_7 .bot_section_7 .partners .partner_logo img {
  width: 100%;
}

#section_8 {
  height: 430px;
  width: 100%;
  background-image: url("../img/about-call-to-action-57862405.webp");
  background-position: center;
  background-size: cover;
}
#section_8 .wrapper_80 {
  display: flex;
}
#section_8 .wrapper_80 .left_section_8 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#section_8 .wrapper_80 .left_section_8 h2 {
  font-size: 40px;
  color: white;
  margin-top: 100px;
}
#section_8 .wrapper_80 .left_section_8 hr {
  width: 250px;
  border: 1px solid #fbcf3b;
  margin: 50px 0px;
}
#section_8 .wrapper_80 .left_section_8 p {
  font-size: 25px;
  color: white;
}
#section_8 .wrapper_80 .right_section_8 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#section_8 .wrapper_80 .right_section_8 a {
  background-color: #fbcf3b;
  text-transform: uppercase;
  padding: 15px 45px;
  margin-bottom: 10px;
}
#section_8 .wrapper_80 .right_section_8 a:hover {
  background-color: black;
  color: white;
}
#section_8 .wrapper_80 .right_section_8 p {
  color: white;
}

footer {
  width: 100%;
  height: 950px;
  background-image: linear-gradient(to bottom, #1e1e1e 0%, #1e1e1e 90%, #000000 90%, #000000 100%);
  border-top: 10px solid #3F3F3F;
}
footer .wrapper_90 #footer_top {
  width: 100%;
  height: 90%;
  display: flex;
}
footer .wrapper_90 #footer_top .column {
  width: 25%;
  height: 100%;
  padding-top: 100px;
}
footer .wrapper_90 #footer_top .column_1 {
  display: flex;
  margin-top: 40px;
}
footer .wrapper_90 #footer_top .column_1 .content_column p {
  color: #5C5C5C;
  margin: 20px 0px;
  line-height: 30px;
}
footer .wrapper_90 #footer_top .column_1 .content_column a {
  background-color: #fbcf3b;
  text-transform: uppercase;
}
footer .wrapper_90 #footer_top .column_1 .content_column a:hover {
  background-color: black;
  color: white;
}
footer .wrapper_90 #footer_top .column_2 {
  display: flex;
  flex-direction: column;
}
footer .wrapper_90 #footer_top .column_2 h3 {
  text-transform: uppercase;
  color: #fbcf3b;
  margin-top: 40px;
}
footer .wrapper_90 #footer_top .column_2 .content_tweet {
  width: 100%;
  height: 424px;
}
footer .wrapper_90 #footer_top .column_3 {
  padding-left: 30px;
  padding-right: 30px;
}
footer .wrapper_90 #footer_top .column_3 h3 {
  text-transform: uppercase;
  color: #fbcf3b;
  margin-top: 40px;
}
footer .wrapper_90 #footer_top .column_3 ul li {
  list-style: none;
  margin: 20px 0px;
  color: #5C5C5C;
}
footer .wrapper_90 #footer_top .column_3 ul li i {
  margin-right: 20px;
}
footer .wrapper_90 #footer_top .column_3 ul li a {
  color: #5C5C5C;
}
footer .wrapper_90 #footer_top .column_3 ul li a:hover {
  color: white;
}
footer .wrapper_90 #footer_top .column_4 {
  padding-left: 30px;
}
footer .wrapper_90 #footer_top .column_4 h3 {
  margin-top: 40px;
  text-transform: uppercase;
  color: #fbcf3b;
  margin-bottom: 50px;
}
footer .wrapper_90 #footer_top .column_4 .static_map {
  width: 300px;
  height: 300px;
}
footer .wrapper_90 #footer_top .column_4 .static_map img {
  width: 100%;
}
footer .wrapper_90 #footer_bot {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrapper_90 #footer_bot p {
  color: #5C5C5C;
  font-size: 12px;
}
footer .wrapper_90 #footer_bot p a {
  text-decoration: none;
  color: #98b5ca;
}
footer .wrapper_90 #footer_bot p a:hover {
  color: #fbcf3b;
}
footer .wrapper_90 #footer_bot span i {
  color: #5C5C5C;
  margin: 0px 10px;
}
footer .wrapper_90 #footer_bot span i:hover {
  color: #98b5ca;
}
