* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.wrapper_90 {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.wrapper_80 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.btn {
  padding: 13px 29px;
  text-decoration: none;
}
