
header {
  // HEADER TOP
  #header_top {
    width: 100%;
    height: 130px;
    line-height: 130px;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    padding: 0px 150px;
    .home_img {
      width: 20%;
      height: 100%;
      img {
        width: 220px;
        vertical-align: middle;
      }
    }
  }
  // JUMBOTRON
  #jumbotron {
    width: 100%;
    height: calc(100vh - 130px);
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/home-slider.webp");
    background-repeat: no-repeat;
    background-size: cover;
    .jumbotron_core {
      width: 1000px;
      height: 350px;
      text-align: center;
      line-height: 90px;
      h1 {
        color: white;
        font-size: 65px;
        text-transform: uppercase;
      }
      h2 {
        color: $yellowColor;
      }
      ul {
        li {
          @include listStyle;
        }
      }
      ul {
        li {
          .yellow_btn {
            @include yellowButton;
            text-transform: uppercase;
          }
        }
      }
      ul {
        li {
          .black_btn {
            @include blackButton;
            text-transform: uppercase;
          }
        }
      }
    }
  }


  // HEADER BOT
  #header_bot {
    width: 100%;
    height: 160px;
    background-color: $yellowColor;
    text-align: center;
    line-height: 160px;
    h2 {
      font-size: 35px;
    }
    a {
      @include blackButtonToWhite;
      padding: 13px 60px;
      position: relative;
      bottom: 50%;
    }
  }
}
