.section {
  width: 100%;
}

#section_1 {
  height: 780px;
  width: 100%;
  .top_section_1 {
    @include topSection;
    h2 {
      padding: 10px 0;
    }
    hr {
      margin: 10px 0;
      border: 2px solid $yellowColor;
      width: 250px;
    }
    p {
      padding: 10px 0;
      text-align: center;
    }
  }
  .bot_section_1 {
    width: 100%;
    height: 50%;
  }
  .bot_section_1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .flip-card {
      @include box;
      i {
        padding: 15px;
        border: 1px solid black;
        border-radius: 50%;
      }
      h2 {
        margin: 15px 0;
      }
      p {
        line-height: 30px;
        padding-bottom: 20px;
      }
    }
  }
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}

.flip-card-front {
  background-color: #bcbcbd;
  color: black;
}

.flip-card-back {
  background-color: $yellowColor;
  color: black;
  transform: rotateY(180deg);
  .yellow_btn {
    background-color: #FFE07A;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

#section_2 {
  height: 585px;
  background-image: url("../img/home-244125289.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  .container_center {
    width: 80%;
    height: 210px;
    display: flex;
    .container_litte {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      i {
        color: $yellowColor;
        font-size: 70px;
      }
      h2 {
        color: $yellowColor;
        font-size: 45px;
      }
      p {
        color: white;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }
}

#section_3 {
  height: 890px;
  .top_section_3 {
    @include topSection;
  }
  .bot_section_3 {
    width: 100%;
    height: calc(85% - 300px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .container {
      width: 1160px;
      height: 369px;
      display: flex;
      justify-content: space-around;
    }
    .card {
      width: 30%;
      height: 100%;
      background-position: center;
      background-size: cover;
      position: relative;
    }
    .card_1 {
      background-image: url("../img/project2-featured-15013609.webp");
      &:hover .card_back_1 {
        opacity: 1;
      }
    }
    .card_2 {
      background-image: url("../img/project1-featured-294276386.webp");
      &:hover .card_back_2 {
        opacity: 1;
      }
    }
    .card_3 {
      background-image: url("../img/project3-featured-189023420.webp");
      &:hover .card_back_3 {
        opacity: 1;
      }
    }
    .card_back {
      position: absolute;
      top: 0%;
      left: 0%;
      bottom: 0%;
      right: 0%;
      width: 100%;
      height: 100%;
      background-color: rgba(253, 207, 61, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transition: .2s ease;
      .back_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        h4 {
          color: white;
          margin: 10px 0px;
        }
        h5 {
          color: white;
        }
      }
      .icons {
        i {
          padding: 10px;
          background-color: white;
          border-radius: 50%;
          color: $yellowColor;
        }
      }
    }
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 50px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      background-color: $yellowColor;

    }
  }
}

#section_4 {
  height: 735px;
  background-color: #F5F5F5;
  .top_section_4 {
    @include topSection;
  }
  .bot_section_4 {
    width: 100%;
    height: calc(100% - 300px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .container_center {
      width: 1170px;
      height: 400px;
      display: flex;
      .container_litte {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
        i {
          font-size: 55px;
          padding: 30px;
          border-radius: 50%;
          color: white;
        }
        #green{
          background-color: #4ea4a5;
          &:hover {
            background-color: $yellowColor;
          }
        }
        #blue{
          background-color: #4e6da5;
          &:hover {
            background-color: $yellowColor;
          }
        }
        #orange{
          background-color: #f6722a;
          &:hover {
            background-color: $yellowColor;
          }
        }
        #lightgreen{
          background-color: #a7cf47;
          &:hover {
            background-color: $yellowColor;
          }
        }
        h4 {
          margin: 10px 0px;
        }
        hr {
          margin: 10px 0px;
          width: 100px;
        }
        p {
          line-height: 25px;
        }
      }
    }
  }
}

#section_5 {
  height: 780px;
  background-image: url("../img/home-parallax-144609983.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  .carousel_container {
    width: 850px;
    height: 550px;
    // border: 1px solid black;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 5px 30px;
    h2 {
      margin: 25px 0;
      font-size: 30px;
      color: white;
    }
    img {
      border-radius: 50%;
      margin: 20px 0;
    }
    hr {
      margin: 20px 0;
      border: 1px solid $yellowColor;
      width: 250px;
    }
    p {
      text-align: center;
      line-height: 30px;
      color: white;
    }
    .carousel_circle {
      display: flex;
      margin-top: 5px;
      i {
        padding: 0 10px;
        color: white;
      }
    }
  }
}

#section_6 {
  height: 1120px;
  background-color: #F5F5F5;
  .top_section_6 {
    @include topSection;
  }
  .bot_section_6 {
    width: 100%;
    height: calc(85% - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      width: 1160px;
      height: 220px;
      display: flex;
      justify-content: space-around;
    }
    .card {
      width: 370px;
      height: 100%;
      background-position: center;
      background-size: cover;
      position: relative;
    }
    .card_bottom {
      width: 370px;
      height: 400px;
      padding: 20px;
      background-color: white;
      .title {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      hr {
        margin: 15px 0;
      }
      p {
        line-height: 30px;
      }
    }

    .card_1 {
      background-image: url("../img/blog-post-134132600.webp");
      &:hover .card_back_1 {
        opacity: 1;
      }
    }
    .card_2 {
      background-image: url("../img/blog-post-92486644.webp");
      &:hover .card_back_2 {
        opacity: 1;
      }
    }
    .card_3 {
      background-image: url("../img/blog-post-332773904.webp");
      &:hover .card_back_3 {
        opacity: 1;
      }
    }
    .card_back {
      position: absolute;
      top: 0%;
      left: 0%;
      bottom: 0%;
      right: 0%;
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: rgba(253, 207, 61, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transition: .2s ease;
      .back_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        h4 {
          color: white;
          margin: 10px 0px;
          text-align: center;
        }
        h5 {
          color: white;
        }
      }
      .icons {
        i {
          padding: 10px;
          background-color: white;
          border-radius: 50%;
          color: $yellowColor;
        }
      }
    }
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 50px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      background-color: $yellowColor;

    }
  }
}

#section_7 {
  height: 550px;
  .top_section_7 {
    @include topSection;
    height: 50%;
  }
  .bot_section_7 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    .partners {
      width: 60%;
      height: 50%;
      display: flex;
      .partner_logo {
        width: 20%;
        height: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

#section_8 {
  height: 430px;
  width: 100%;
  background-image: url("../img/about-call-to-action-57862405.webp");
  background-position: center;
  background-size: cover;
  .wrapper_80 {
    display: flex;
    .left_section_8 {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 40px;
        color: white;
        margin-top: 100px;
      }
      hr {
        width: 250px;
        border: 1px solid $yellowColor;
        margin: 50px 0px;
      }
      p {
        font-size: 25px;
        color: white;
      }
    }
    .right_section_8 {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      a {
        @include yellowButton;
        padding: 15px 45px;
        margin-bottom: 10px;
      }
      p {
        color: white;
      }
    }
  }
}
