@mixin listStyle {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

@mixin textDecorationNone {
  text-decoration: none;
  color: black;
}

@mixin yellowButton {
  background-color: $yellowColor;
  &:hover {
    background-color: black;
    color: white;
  }
}

@mixin blackButton {
  background-color: black;
  color: white;
  &:hover {
    background-color: $yellowColor;
    color: black;
  }
}


@mixin box {
  width: 310px;
  height: 290px;
  display: flex;
  position: relative;
  perspective: 1000px;
}
