#navbar {
  width: 80%;
  height: 100%;
  ul {
    text-align: right;
    li {
      @include listStyle;
      padding-left: 40px;
      a {
        text-transform: uppercase;
        @include textDecorationNone;
        &:hover {
          color: $yellowColor;
        }
      }
    }
  }
}



#navbar > ul > li > .yellow_btn {
  @include yellowButton;
}
